<script id="load-list" type="text/x-handlebars-template">
<div id="load-modal">
<h1 class="title">{{title}}</h1>

<div class="description">
  Select the schedule you want this load to be on. Remember that the
  experiment will run for <strong>{{experimentLength}} hours</strong>.
</div>

<form action='#' id='submit-loads'>

<input type="hidden" value="{{loadIndex}}" name="loadIndex" id="ldInd"></input>

<table class="load-table">
  <tr>
    <th>From</th>
    <th>To</th>
    <th>&nbsp;</th>
  </tr>

  {{> single_load }}
</table>

<p>
  <a href='#' class='js-add-load-row'>Add another time</a>
</p>

<p><input type='submit' name='Go'></input></p>
</form>
</div>
</script>
