<h1>Please select the load profile</h1>

<div class="description">
  For each load, you can choose when it will be turned on. You can manage them
  by clicking the buttons for each specific wattage.
</div>

<%= render '_load_list.html.erb' %>
<%= render '_single_load.html.erb' %>

<nav>
  <ul class="navigation">
    <li>
      <a class='js-add-load button' href='#' data-load-index='0'>100 wattz</a>
    </li>
    <li>
      <a class='js-add-load button' href='#' data-load-index='1'>75 wattz</a>
    </li>
    <li>
      <a class='js-add-load button' href='#' data-load-index='2'>50 wattz</a>
    </li>
    <li>
      <a class='js-add-load button' href='#' data-load-index='3'>25 wattz</a>
    </li>
  </ul>
</nav>

<div id="js-load-schedule"></div>

<div id="chart-container"></div>