<h1>Please select the load profile</h1>

<div class="description">
  For each load, you can choose when it will be turned on. You can manage them
  by clicking the buttons for each specific wattage.
</div>

<%= render '_load_list.html.erb' %>
<%= render '_single_load.html.erb' %>

<nav>
  <ul class="navigation">
    <li>
      <a class='js-add-load button' href='#' data-load-index='0'>Load 1</a>
    </li>
    <li>
      <a class='js-add-load button' href='#' data-load-index='1'>Load 2</a>
    </li>
    <li>
      <a class='js-add-load button' href='#' data-load-index='2'>Load 3</a>
    </li>
    <li>
      <a class='js-add-load button' href='#' data-load-index='3'>Load 4</a>
    </li>
  </ul>
</nav>

<div id="chart-container"></div>

<a class='button' id='js-launch-experiment' href='#'>
  Start Experiment
</a>

<div id="js-load-schedule"></div>
