<h1>Please select the load profile</h1>

<div class="description">
  For each load, you can choose when it will be turned on. Add a load by clicking here.
</div>

<%= render '_load_list.html.erb' %>
<%= render '_single_load.html.erb' %>

<p><a class='js-add-load' href='#' data-load-index='0'>Add 100 wattz</a></p>
<p><a class='js-add-load' href='#' data-load-index='1'>Add 75 wattz</a></p>
<p><a class='js-add-load' href='#' data-load-index='2'>Add 50 wattz</a></p>
<p><a class='js-add-load' href='#' data-load-index='3'>Add 25 wattz</a></p>

<div id="showme"></div>