<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>BEE Lab • Launch</title>
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href='styles/application.css' rel='stylesheet' type='text/css'>
</head>

<body>
  <%= yield %>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script src="http://cdn.jquerytools.org/1.2.7/all/jquery.tools.min.js"></script>
  <script type="text/javascript" src="scripts/application.js"></script>
</body>
</html>