body {
  background: #f3efe5;
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200; }

nav ul {
  padding: 0; }
  nav ul li {
    list-style: none;
    padding: 0;
    display: inline-block;
    margin: 0px 5px; }

#chart-container {
  width: 95%;
  margin: 0 auto; }

.load-table {
  margin-top: 15px; }
  .load-table th, .load-table td {
    text-align: center; }

#js-load-schedule {
  display: none;
  background: white;
  padding: 20px;
  border: 5px solid rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: compact(1px 1px 5px black, false, false, false, false, false, false, false, false);
  box-shadow: compact(1px 1px 5px black, false, false, false, false, false, false, false, false);
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  #js-load-schedule .error {
    color: #FFF;
    width: 60%;
    margin: 0 auto;
    display: none;
    padding: 10px;
    text-align: center;
    background: rgba(255, 0, 0, 0.5);
    text-shadow: 1px 1px 3px #000; }
  #js-load-schedule .error-row {
    background: rgba(255, 0, 0, 0.5); }
