@import 'bourbon/bourbon';

$spacing: 20px;

$ilab-bg-color: #F3EFE5;

body{
  background: $ilab-bg-color;
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}

nav ul {
  padding: 0;
  li {
    list-style: none;
    padding: 0;
    display: inline-block;
    margin: 0px 5px;
  }
}

#chart-container{
  width: 95%;
  margin: 0 auto;
}

#js-load-schedule{
  display: none;
  background: white;
  padding: $spacing;
  border: 5px solid rgba(0,0,0,0.5);

  @include box-shadow(1px 1px 5px #000);
  @include border-radius(5px);
}