@import 'bourbon/bourbon';

$spacing: 20px;

$ilab-bg-color: #F3EFE5;
$ilab-link-color: darken(#E5D7C4, 10%);

$error-bg-color: rgba(255, 0, 0, 0.5);


body{
  background: $ilab-bg-color;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 200;
  line-height: 20px;
  font-size: 16px;
}

nav{
  padding: 40px 0px;
  ul{
    padding: 0;
    width: 90%;
    margin: 0 auto;
    li {
      list-style: none;
      display: inline-block;
      margin: 0px 10px;
    }
  }
}

.button{
  background: $ilab-link-color;
  display: block;
  padding: 8px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  @include border-radius(5px);
  &:hover, &:focus, &.active{
    color: white;
    background: darken($ilab-link-color, 10%);
  }
}

input[type=radio] { display: none; }

#chart-container{
  width: 90%;
  margin: 0 auto;
}

.load-table{
  margin-top: 15px;
  th, td{ text-align: center;}
}

#js-load-schedule{
  display: none;
  background: white;
  padding: $spacing;
  border: 5px solid rgba(0,0,0,0.5);

  @include box-shadow(0px 0px 20px #000);
  @include border-radius(5px);

  .error{
    color: #FFF;
    width: 60%;
    margin: 0 auto;
    display: none;
    padding: 10px;
    text-align: center;
    background: $error-bg-color;
    text-shadow: 1px 1px 3px #000;
  }

  .error-row{
    background: $error-bg-color;
  }
}

@mixin cupid-green {
  @include linear-gradient(top, #7fbf4d, #63a62f);
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  @include border-radius(3px);
  @include box-shadow(inset 0 1px 0 0 #96ca6d);
  color: #fff;
  font: bold 12px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1.2em;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 150px;

  &:hover {
    @include linear-gradient(top, #76b347, #5e9e2e);
    @include box-shadow(inset 0 1px 0 0 #8dbf67);
    cursor: pointer;
  }

  &:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    @include box-shadow(inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee);
  }
}

.cupid-green {
  @include cupid-green;
}


#js-launch-experiment{
  margin: 20px auto;
  width: 150px;
  text-align: center;
  @extend .cupid-green;
}